{% extends 'base.html'%}
{% block title %}代辦事項清單首頁{% endblock %}
{% block style %}
<style>
    .todo-list {
        background-color: lightpink;
        margin: 12px auto;
        border-radius: 12px;
        width: 500px;
    }

    .date {
        background-color: brown;
        color: white;
        border-radius: 6px;
    }

    .todo-text {
        background-color: darksalmon;
        height: 100px;
        border-radius: 6px;
        padding: 6px;
    }

    .important {
        color: rgb(180, 7, 7);
    }

    button {
        padding-left: 0%;
        background-color: rgb(140, 210, 238);
        color: white;
    }
</style>
{% endblock %}
<!--外間距是margin-->
{% block content %}
<h1>
    {% if completed %}
    Completed-Todo
    {% else %}
    TodoList
    {% endif %}
</h1>
{% for todo in todos %}
<div class="todo-list">
    <p class="date">{{todo.created}}</p>
    {% if todo.date_completed %}
    {{todo.date_completed}}
    {% endif %}
    <a href="{% url 'view_todo' todo.id %}">{{todo.title}}</a><br>
    {% if todo.important %}
    <span class="important"><b>(IMPORTANT)</b></span>
    {% endif %}

    </h3>
    <p class="todo-text">{{todo.text}}</p>
    <p>
        <button><a href="{% url 'delete_todo' todo.id %}" onclick="return confirmDelete()">刪除</a></button>
        {% if completed %}
        <button style="background-color: rgb(235, 182, 103); color: brown;"><a href="{% url 'recover_todo' todo.id %}"
                onclick="return confirmRecover()">恢復</a></button>
        {% else %}
        <button><a href="{% url 'finish_todo' todo.id %}" onclick="return confirmFinish()">完成</a></button>
        {% endif %}
    </p>
</div>
{% endfor %}
{% endblock %}