{% extends 'base.html'%}
{% block title %}代辦事項{% endblock %}
{% block style %}
<style>
    .todo-text {
        background-color: rgb(228, 181, 204);
        color: rgb(100, 18, 18);
        font-family: Arial, "標楷體", Helvetica, sans-serif;
        border-radius: 24px;
        margin: 12px;
        height: auto;
        padding: 12px;
    }
</style>
{% endblock %}
{% block content %}
<h1>{{todo.title}}</h1>

<div class="todo-text">
    建立時間:{{todo.created}}<br>
    {% if todo.date_completed %}
    完成時間:{{todo.date_completed}}
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="更新" name="update">
        <input type="submit" value="刪除" name="delete">
    </form>
</div>
<a href="{% url 'todolist' %}">回前頁</a>
{% endblock %}